<launch>

  <rosparam param="sim">false</rosparam>
  <rosparam param="map">true</rosparam>
  <rosparam param="rviz">true</rosparam>
  <rosparam param="use_tf">false</rosparam>

  <node pkg="project_turtlebot" type="sir_francis_bacon.py" name="sir_francis_bacon" output="screen"/>
  <node pkg="project_turtlebot" type="detector.py" name="turtlebot_detector" output="screen"/>  
  <node pkg="project_turtlebot" type="pose_controller_nav.py" name="turtlebot_pose_controller_nav" />
  <node pkg="project_turtlebot" type="navigator.py" name="turtlebot_navigator" output="screen"/>
  <node pkg="project_turtlebot" type="EXPLORER2.py" name="turtlebot_frontier" output="screen"/>

  <node pkg="project_turtlebot" type="custom_viz.py" name="turtlebot_viz" />
  <node pkg="project_turtlebot" type="state_viz.py" name="turtlebot_state_viz" />
  <node pkg="project_turtlebot" type="breadcrumbs.py" name="breadcrumbs" />
  <!-- <node pkg="project_turtlebot" type="resetTurtle.py" name="reset_turtle" /> -->


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project_turtlebot)/rviz/project_config.rviz"/>


</launch>
